.headerLi {
    font-size: 1.25rem;
    font-family: CustomOpenSans, sans-serif;
    font-weight: 500;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.54);
    margin: 0 0.5em;
}

.header {
    padding: 0px;
    height: 4em;
    position: sticky;
    width: 100%;
    top: 0;
    border-bottom: 1px solid rgba(216, 216, 216);
    background-color: white;
    z-index: 1;
}

.headerOl {
    margin: 0;
    padding-top: 1em;
}

.headerA {
    padding: 1em;
}

.chevron {
    width: 1.5em;
    height: 1.5em;
}

.leftBorder {
    border-right: 2px solid rgba(216, 216, 216);
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.right0 {
    right: 0
}